.timesheet{
    margin: 30px;

    .previous{
        margin :0;
        .card{
            width:100%;
            border:none;

            .card-block{
                padding: 0;

                .timesheet-details{
                    .row{
                        margin: 10px 0;
                        label{
                            color:#818a91;
                        }
                    }
                }
            }
        }
    }
}